body {
  margin: 0;
  font-family: 'IBM Plex Sans', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 1.2rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  background-color: #00ff00;
  color: rgb(0, 59, 0);
  font-weight: 700;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1.4rem;
}

.footer {
  background-color: #3c3c3b;
  color: white;
}

.postcard {
  border: 2px solid black;
  border-radius: 0;
}

.postcard-title {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1.4rem;
  text-decoration: none;
  line-height: 1rem;
  font-weight: 600;
}

.postcard-title:hover {
  text-decoration: underline;
}

.postcard-hr {
  border-top: 10px solid #00ff00;
  margin-top: -1.5rem;
  width: 40%
}
